@charset "UTF-8";

.ui-widget-content a {
    color: inherit
}

::-ms-clear {
    display: none
}

.templatePrincipal {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: arial
}

.planning .schedule .fc-event .fc-title {
    font-size: inherit
}

.planning .schedule .fc-head-container.ui-widget-header {
    border-color: white
}

a,
div,
span {
    outline: 0;
    text-decoration: none
}

h2 {
    margin: 0 !important
}

.Container100 {
    width: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box
}

.ui-widget {
    font-family: latoregular
}

.ui-widget-header {
    color: #fff
}

.fc {
    border: solid 1px #d1d1d1;
    border-radius: 3px;
    transition: all .2s ease !important;
    background-color: #fafafa;
    color: #525252;
    font-family: arial;
    direction: ltr;
    text-align: left
}

.fc-toolbar {
    text-align: center;
    border-bottom: solid 1px white;
    background-color: var(--onpage_blue);
    padding: 1%;
    margin: 0 !important;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

.fc-center {
    color: white;
    font-size: 12px !important;
    font-family: arial
}

.fc-center h2 {
    font-weight: 400 !important
}

.fc-view-container .fc-event {
    background-color: #05c436;
    border: solid 1px #0ca533
}

.fc-view-container table thead tr th {
    background-color: var(--lightblue);
    color: #525252;
    border-collapse: separate;
    padding: 5px;
    border-radius: 3px !important;
    border: 0
}

.fc-view-container table tbody tr .fc-day {
    border: solid 1px #d1d1d1 !important;
    color: #525252;
    border-collapse: separate;
    padding: 5px;
    border-radius: 3px !important;
    transition: all .2s ease !important;
    border-top-width: 1px !important;
    font-family: latoregular
}

.fc-view-container table tbody tr>.ui-widget-content {
    border-width: 0
}

.fc-slats table tbody tr td {
    border-width: 1px !important;
    border-color: white
}

table tbody tr td {
    color: #525252
}

.templatePrincipal .fc-view-container .fc-event {
    background: linear-gradient(#fff, #cecece);
    border: solid 1px #525252;
    color: #525252
}

body .fc {
    font-size: 1em
}

.fc-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.fc-bg table {
    height: 100%
}

.fc table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em
}

.fc th {
    text-align: center
}

.fc td,
.fc th {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: top
}

.fc .fc-row {
    border-style: solid;
    border-width: 0
}

.fc-row table {
    border-left: 0 hidden transparent;
    border-right: 0 hidden transparent;
    border-bottom: 0 hidden transparent
}

.fc-row:first-child table {
    border-top: 0 hidden transparent
}

.fc-scroller>.fc-time-grid {
    position: relative;
    width: 100%
}

.fc-event {
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    border: 1px solid #3a87ad;
    background-color: #3a87ad;
    font-weight: 400
}

.fc-event,
.fc-event:hover,
.ui-widget .fc-event {
    color: #fff;
    text-decoration: none
}

.fc-event .fc-bg {
    z-index: 1;
    background: #fff;
    opacity: .25
}

.fc-toolbar .fc-center {
    display: inline-block
}

.fc .fc-toolbar>*>* {
    float: left;
    margin-left: .75em
}

.fc .fc-toolbar>*>:first-child {
    margin-left: 0
}

.fc-toolbar h2 {
    margin: 0
}

.fc-view-container *,
.fc-view-container :after,
.fc-view-container :before {
    box-sizing: content-box
}

.fc .fc-axis {
    vertical-align: middle;
    padding: 0 4px;
    white-space: nowrap
}

.fc-ltr .fc-axis {
    text-align: right
}

.ui-widget td.fc-axis {
    font-weight: 400
}

.fc-time-grid {
    min-height: 100%
}

.fc-time-grid table {
    border: 0 hidden transparent
}

.fc-time-grid>.fc-bg {
    z-index: 1
}

.fc-time-grid .fc-content-skeleton {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0
}

.fc-time-grid .fc-highlight-container {
    position: relative;
    z-index: 3
}

.fc-time-grid .fc-event-container {
    position: relative;
    z-index: 4
}

.fc-time-grid .fc-helper-container {
    position: relative;
    z-index: 6
}

.fc-time-grid .fc-slats td {
    height: 1.5em;
    border-bottom: 0
}

.fc-time-grid .fc-slats .fc-minor td {
    border-top-style: dotted
}

.fc-time-grid .fc-slats .ui-widget-content {
    background: 0 0
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 2.5% 0 2px
}

.fc-time-grid .fc-event {
    position: absolute;
    z-index: 1
}

.fc-time-grid-event .fc-title {
    padding: 0 1px
}

html {
    height: 100%;
    font-size: 10px
}

#layout-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 4.7rem
}

#layout-container-row {
    display: block
}

#layout-portlets-cover {
    display: block;
    height: 100%;
    font-size: 14px;
    color: #282828;
    margin-left: 280px;
    padding: 1rem;
    box-sizing: border-box
}

.Card {
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border-radius: 2px
}

a {
    text-decoration: none;
    outline: 0
}

#layout-portlets-cover:after,
#layout-portlets-cover:before,
.Card:after,
.Card:before {
    content: "";
    display: table;
    border-collapse: collapse
}

::-webkit-input-placeholder,
:-ms-input-placeholder {
    color: #9f9f9f
}

:-moz-placeholder,
::-moz-placeholder {
    color: #9f9f9f;
    opacity: 1
}

.fc-clear,
#layout-portlets-cover:after,
.Card:after {
    clear: both
}

.fc-row,
.fc-time-grid .fc-content-col {
    position: relative
}

.fc-time-grid .fc-slats,
.fc-time-grid .fc-bgevent-container {
    position: relative;
    z-index: 2
}

.fc-view,
.fc-view>table,
.fc-time-grid,
.fc-time-grid-container,
.fc-time-grid .fc-business-container {
    position: relative;
    z-index: 1
}

body.templatePrincipal,
.fc-view-container {
    background-color: var(--lightblue)
}